includes:
  - ../../../phpstan/phpstan-deprecation-rules/rules.neon
  - ../../../phpstan/phpstan-mockery/extension.neon

parameters:
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  treatPhpDocTypesAsCertain: false
